/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.bg-home{
  background-color: #1ABC9C;
}

.w-10{
 
  width: 7%;
}



.imgHover{
  position: relative;
  
}


.layout{

  background-color: #1ABA9F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  
}



.imgHover:hover .layout {
  opacity: 1;
}



.main-color{

  color: #1ABA9F;
}


.no-outline:focus {
  outline: none !important;
  box-shadow: none;
}


.btn-green {
  --bs-btn-color: #fff !important;
  --bs-btn-bg:#1ABA9F !important;
  --bs-btn-border-color:#1ABA9F;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #108874;
  --bs-btn-hover-border-color: #108874;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}


.bg-navbar{

  background-color: #2C3E50;
}



.round-border{
   border-radius: 50%;
  border-color: white;
}

.bg-footer{
  background-color: #17212A;
  
}